.category-section-2{
    /* border:3px solid green; */
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    height: 400px;
    margin: 0px 40px 30px 40px;
    display: flex;
}
.category-section-2-div{
    width: 18%;
    /* margin-left: 55px; */
}
#category-section-2-left{
    background-color: green;
    margin: 1% 5%;
    border-radius: 10px;
    display: flex;
    
}
#category-section-2-left ul{
    /* margin: 20% 0% 20% 20%; */
    /* padding: 20% 0% 20% 20%; */
    margin: 20% 7%;
    width: 100%;
    list-style-type:none;
}
#category-section-2-left ul li{
    line-height: 35px;
}
#category-section-2-left ul li:hover a{
    font-size: 20px;
    background-color: rgb(145, 145, 11);
}
#category-section-2-left ul li a{
    text-decoration:none;
    font-size: 19px;
    color: white;
    display: block;
    width: 100%;
}
/* #category-section-2-left ul li a:hover{
    font-size: 23px;
    background-color: yellow;
} */
#category-section-2-middle{
    width: 40%;
}
#category-section-2-right{
    background-color: rgb(209, 209, 112);
    margin: 1% 7%;
    border-radius: 10px;
}

#category-section-2-right span a{
    text-decoration: none;
    color: black;
}

#category-section-2-right span{
    text-align: center;
}
