* {
    margin: 0px;
    padding: 0px;
    font-size: 15px;

}

.header-top {
    width: 100%;
    height: 40px;
    background-color: #084510c7;
    position: fixed;
    top: 0px;
}

#header-top-img1 {
    height: 40px;
    width: 12%;
    margin-left: 2px;

}

.right-of-header-top ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 10%;

    /* align-items: center; */
}

.right-of-header-top ul li {
    margin-left: 0px;
    list-style: none;
    margin-left: 50px;
    margin-top: 10px;

}

.right-of-header-top ul li a {
    text-decoration: none;
    color: rgb(155, 190, 90);
}

.right-of-header-top li a:hover {
    color: #e8dbdbdf;
    text-decoration: overline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(53, 111, 161);
}

.right-of-header-top li a i:hover {
    color: #e8dbdbdf;
    text-decoration: overline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(53, 111, 161);
}