.header-middle{
    border: 3px solid #0080007a;
    background-color: #c7e9c7;
    height: 100px;
    margin-top: 41px;
    display: flex;
}
.header-middle-img{
    /* border: 2px solid green; */
    margin-right: 10px;
    padding-top: 25px;
}
.header-middle-img img{
    width: 150px;
}
.divider{
    width: 1px;
    height: 50px;
    margin: 20px;
    background-color: #878585;
}
#header-middle-img3{
    padding: 0px;
}
.header-middle-right-text{
    /* border: 3px solid blue; */
    /* width: 400px; */
    margin-left: 250px;
    padding-top: 5px;
}
.header-middle-right-text p{
    font-family: 'Baloo Bhai';
    color: #14347edb;
    font-size: 30px;
}